{%extends "template.html"%}
{%block title%}About pyMD{%endblock%}

{%block body%}

<div class="container-abt">
        <h1 id="header-abt">pyMD: Precision in Medical Diagnosis</h1>
        <br>
        <p id="text-abt">
            <em>pyMD</em> is an innovative AI-powered web application meticulously designed to ask users
            a set of medical questions to arrive at a definite medical diagnosis.
            <br><br>
            <em>pyMD</em> was built and programmed in python using flask for the web deployment, and pandas, sklearn and numpy for the computing. The DDXplus simulated patient dataset was used to train pyMD and its classifier.
            It also uses a novel online policy based Reinforcement Learning approach to decide which question to ask next.
        </p>
</div>




{%endblock%}