@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

*, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    height: 100%;
    background-color: #152733;
    overflow: auto;
}


.form-holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 100vh;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
}

.form-content .form-items {
    border: 3px solid #fff;
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: #fff;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: #fff;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: #fff;
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
}


.btn-primary{
    background-color: #6C757D;
    outline: none;
    border: 0px;
     box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #495056;
    outline: none !important;
    border: none !important;
     box-shadow: none;
}

.form-content textarea {
    position: static !important;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: #fff;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    outline: none;
    resize: none;
    height: 120px;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
}

.form-content textarea:hover, .form-content textarea:focus {
    border: 0;
    background-color: #ebeff8;
    color: #8D8D8D;
}

.mv-up{
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}

.invalid-feedback{
    color: #ff606e;
}

.valid-feedback{
   color: #2acc80;
}

/* Personal Modifications to template https://codepen.io/samnorton/pen/oNYajYM */
h1{
        color: antiquewhite;
}

h2,h3,h6,h5,h4{
    color: antiquewhite;
    align-content: center;
}

.cont{

    margin: 20px;
}
hr{
    background-color: antiquewhite;
}

.range_bar_div > :nth-child(1)
{
    width: 400px;
    margin-top: 30px;
    margin-right: 20px;
    font-size: 30px;
    margin-bottom: 10px;
}

.range_bar_div > :nth-child(3)
{
   margin-left: 144pt;
   font-size: 30px;
}


.checked input:checked  {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #2ba80b;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  .container-abt{
    max-width: max-content  ;
    margin: 50px auto;
    padding: 20px;
    background-color: #495056;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#header-abt
{
    color: whitesmoke;
    font-size: 35pt;
    text-wrap:nowrap;
    text-align: center;
        
}
#text-abt
{
    font-family: 'Poppins';
    color: antiquewhite;
    font-size: 15pt;
    text-align: center;
}






.container-ind {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background-color: #1a1a1a; */
    color: antiquewhite;
overflow-inline: hidden;
}


#ind-h1{    font-size: 120pt;
}
#ind-h2{    
    font-size: 40pt;
    width: 100%;
    height: 100px;
    overflow:visible;
    text-align: center;
    /* background-color: red; */
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

}
.text-container-ind {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.text-container-ind.visible {
    opacity: 1;
    transform: translateY(0);
}

.cursor {
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 90pt;
    margin-left: 20px;
    background-color: white ;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}


.additional-text h2 {
    width: 100%; /* Make the h2 take up the full width */
}

.additional-text {
    margin-top: 200px; /* Adjust the distance below h1 */
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.additional-text.visible {
    opacity: 1;
    transform: translateY(0);
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* CSS for a larger link */
.additional-lk a {
    font-size: 40pt; /* Adjust the font size */
    padding: 10px 20px; /* Add padding to increase clickable area */
    color: rgb(67, 121, 121);
    text-decoration: underline;
    transition: color 0.3s ease;
    text-align: center;
    margin-top:145px;
    /* background-color: red; */
    
    position: absolute;
    left: 0;
    right: 0;
}

.additional-lk a:hover {
    color: #66c2ff; /* Change color on hover */
}